.box-container {
    display: block;
    margin: 30px auto 0 auto;
    background-color: #FFF;
    border: solid #000 1px;
}

.box {
    display: inline-block;
    vertical-align: top; 
}

.active-box {
    background-color: #000;
}
